logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
*.swp
*.locks
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

app/public/css
app/public/js
app/public/fonts
app/public/img
app/public/index.html
app/public/*.zip

OutPut/backup/*.json
OutPut/sourse/article/*.jpg
OutPut/sourse/article/*.jpeg
OutPut/sourse/article/*.png
OutPut/sourse/article/*.gif
OutPut/sourse/header/*.jpg
OutPut/sourse/header/*.jpeg
OutPut/sourse/header/*.png
OutPut/sourse/header/*.gif
OutPut/sourse/photo/*.jpg
OutPut/sourse/photo/*.jpeg
OutPut/sourse/photo/*.png
OutPut/sourse/photo/*.gif
